<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="/logo2.ico" rel="shortcut icon" runat="server" type="image/x-icon" />
    <link href="/logo2.ico" rel="icon" runat="server" type="image/ico" />
</head>
<body>
    <section class="main">

        <header class="header">
            <div class="container">

                <div class="logo">
                    <img src="images/logo2.png" alt="логотип">
                </div>
                <nav class="menu">
                    <ul class="menu-list">
                        <li class="menu-item">
                            <a href="/Home" data-link="why">Главная</a>
                        </li>
                        </li>
                        <li class="menu-item">
                            <a href="/Order">Оформление заказа</a>
                        </li>
                        <li class="menu-item">
                            <a href="/Admin">Админ</a>
                        </a>
                    </ul>
                </nav>
                <div id="datetime"></div> <!-- Здесь будет отображаться дата и время -->
                <div class="currency" title="Изменить валюту" id="change-money">$</div>
            </div>
        </header>

        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="logo">
                    <img src="images/logo2.png" alt="логотип">
                </div>
                <div class="rigths">Все права защищены</div>
            </div>
        </footer>

    </section>
    <script src="~/js/site.js"></script>
</body>

</html>