@{
    Layout = "_Layout";
}

<section class="order" id="order">
    <div class="container">
        <div class="order-title common-title">Оформление заказа</div>
        <img src="images/flower4.png" alt="заказ" class="order-img">
        <div class="order-form">
            <div class="order-form-text">
                Заполните все данные и наш менеджер свяжется с вами для подтверждения
                заказа
            </div>
            <div class="order-form-inputs">
                <!-- Выбор типа букета -->
                <div class="order-form-input">
                    <label for="bouquet-type">Выберите тип букета:</label><br>
                    <select id="bouquet-type" onchange="showInputs()">
                        <option value="--">--</option>
                        <option value="готовый">Готовый букет</option>
                        <option value="составить">Составить букет</option>
                        <option value="неважно">Не важно</option>
                    </select>
                </div>
                <!-- Список готовых букетов -->
                <div id="preset-bouquets" class="order-form-input" style="display:none;">
                    <label for="preset-bouquet">Список готовых букетов:</label>
                    <select id="preset-bouquet" onchange="countMoneyBouquet()">
                    </select>
                </div>
                <!-- Составление букета -->
                <div id="custom-bouquet" style="display:none;">
                    <h3>Составить букет</h3>
                    <div id="flower-container"></div>
                    <button id="add-flower-button">Добавить цветок</button>
                </div>
                <!-- Не важно -->
                <div id="budget" class="order-form-input" style="display:none;">
                    <label for="amount">На какую сумму?</label>
                    <input type="text" placeholder="Сумма" id="amount" oninput="updateAmount()">
                    <div id="price">$</div>
                </div>
                <!-- Ввод данных покупателя -->
                <div class="order-form-input">
                    <input type="text" placeholder="Ваша фамилия" oninput="updateLastName()" id="last-name">
                </div>
                <div class="order-form-input">
                    <input type="text" placeholder="Ваше имя" oninput="updateName()" id="name">
                </div>
                <div class="order-form-input">
                    <input type="text" placeholder="Ваш телефон" id="phone" maxlength="18" oninput="maskPhone(this)">
                </div>
                <div class="order-form-input">
                    <input type="text" placeholder="Ваш адрес" id="address">
                </div>
                <div class="order-form-input">
                    <label for="payment-type">Выберите тип оплаты:</label><br>
                    <select id="payment-type">
                        <option value="--">--</option>
                        <option value="наличка-курьеру">Наличкой курьеру</option>
                        <option value="карта-сейчас">Картой сейчас</option>
                        <option value="карта-курьеру">Картой курьеру</option>
                    </select>
                </div>
                <label id="money-text" data-base-price="0">0 $</label>
                <button class="button" id="order-action">Оформить заказ</button>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/order.js"></script>