* /*для всех штук на странице*/ {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Semibold.ttf");
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Black.ttf");
}

body {
    background-color: #B7A8D6;
    font-family: 'Gilroy', sans-serif;
    color: white;
}

.container /*стили для общего контейнера*/ {
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between; /* Равномерное распределение по горизонтали */
    margin-left: 10%;
}

.button {
    border-radius: 8px;
    background: linear-gradient(96deg, #DC3251 0%, #750f8a 100%);
    width: 260px;
    height: 62px;
    padding: 19px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 18px;
}

    .button:hover {
        background: linear-gradient(96deg, #DC3251 0%, #DC3251 100%);
    }

.common-title {
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-size: 64px;
    font-style: normal;
    line-height: 80px;
    letter-spacing: 1.92px;
    text-transform: uppercase;
}


.main {
    /* background-image: url("../images/par.png");
    background-position: top center;*/
    overflow: hidden;
}

.header {
    padding: 40px; /*отступ сверху и снизу - 40, справа и слева - 0*/
}

    .header .container /*контейнер внутри хедера*/ {
        display: flex;
        align-items: center;
    }

.logo img /*для картинки внутри стиля лого*/ {
    vertical-align: bottom;
}

.menu {
    margin-left: 25%; /*отступ от лого*/
}

.menu-list {
    list-style: none; /*чтоб не было маркеров*/
    display: flex; /*значения будут в одну строку*/
}

.menu-item {
    margin-right: 88px; /*отступы между пунктами меню*/
}

    .menu-item a /*стили для ссылок внутри менюшки*/ {
        color: white;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
    }

        .menu-item a:hover /*стили для наведения на меню*/ {
            border-bottom: 2px solid white;
        }

.currency {
    border: 1px solid white;
    padding: 11px 0;
    box-sizing: border-box;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    font-size: 18px;
    user-select: none;
    margin-right:15%;
}

.main-content {
    padding-top: 103px;
    padding-bottom: 109px;
}

    .main-content .container {
        position: relative;
    }

.main-info {
    max-width: 608px;
}

.main-small-info {
    background: #DC3251;
    border-radius: 100px;
    padding: 12px 16px;
    display: inline-block;
    font-size: 18px;
}

.main-title {
    font-size: 90px;
    font-family: 'Merriweather', sans-serif;
    line-height: 130%;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 56px;
}

.main-text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
}

.main-img {
    position: absolute;
    top: -123px;
    /*left: calc(100% - 991px);*/

    margin-top: 4%;
    margin-left: 50%;
    width:50%;
    height:auto;
    /*    width: 110%;
    height: auto;
    z-index: -99;*/
}

.main-img-orange {
    position: absolute;
    margin-top: 30%;
    margin-left: -1%;
    transform: translateY(-50%);
}

.main-img-par {
    position: absolute;
    margin-top: 10%;
    margin-left: 62%;
    transform: translateY(-50%);
    z-index: -99;
}


.why-img-flower2 {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-left: 0%;
    z-index: -99;
}

.why {
    /*background-image: url("../images/flower2.png");*/
    background-position: top center;
    background-size: initial;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left:-10%;
}

/*.why img{
    position: center;
}*/

.why-items {
    margin-top: 60px;
    display: grid; /*чтоб могли сделать элементы в строку*/
    gap: 100px; /*отступы между элементами*/
    grid-template-columns: repeat(3, 312px); /*размер элементов*/
    justify-content: center;
}

.why-item {
    text-align: center;
}

.why-item-title {
    font-size: 24px;
    line-height: 29px;
    padding: 24px 0;
}

.why-item-text {
    font-size: 16px;
    line-height: 140%;
}

.products {
    background-image: url("../images/напитки фон.png");
    background-position: top center;
    background-size: 1400px;
    padding-bottom: 180px;
}

.products-items {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    gap: 24px;
    margin-top: 60px;
}

.products-item {
    justify-content: space-between; /* Равномерное распределение по высоте */
    padding: 30px;
    background: #211A16;
    border-radius: 16px;
    border: 1px solid #353535;
}

.products-item-img {
    height: 250px;
}

    .products-item-img img /*тут ограничиваем рамки картинки, т.к. в браузерах они имеют свойство расширятться*/ {
        max-width: 100%;
    }

.products-item-title {
    font-size: 24px;
    line-height: 29px;
    margin: 24px 0;
}

.products-item-text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 24px;
}

.products-item-extra {
    display: flex;
    justify-content: space-between;
}

.products-item-price {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 8px;
}

.products-item-weight {
    font-size: 16px;
    line-height: 18px;
    color: #757575;
}

.button.product-button {
    display: flex;
    justify-content: center;
    width: 182px;
    height: 62px;
}

    .button.product-button span:first-child /*применится только к первому span, находящемуся внутри блока*/ {
        margin-right: 10px;
    }


.new {
    margin-bottom: 20px;
    text-align: center;
    margin-left:-5%;
}

.news-container {
    height: 300px; /* Высота блока новостей */
    margin: 20px 30%; /* Отступы сверху и снизу */
    border: 1px solid #ccc; /* Рамка вокруг блока новостей */
    display: flex;
    align-items: center; /* Центрируем текст по вертикали */
    justify-content: center; /* Центрируем текст по горизонтали */
    font-size: 18px; /* Размер текста новостей */
    border-radius: 16px;
    background: #211A16;
    border: 1px solid #353535;
    margin-top:40px;
}

#news-item {
    position: absolute;
    width: 100%; /* Занимает 100% ширины блока */
    font-size: 16px;
}

.navigation {
    display: flex;
    justify-content: center; /* Центрируем стрелки */
}

.arrow {
    cursor: pointer; /* Указатель на кликабельный элемент */
    font-size: 36px; /* Размер стрелок */
    user-select: none; /* Запрет выделения текста */
    margin: 0 15px; /* Отступы слева и справа для стрелок */
    background-image: linear-gradient(96deg, #DC3251 0%, #750f8a 100%);
    -webkit-background-clip: text; /* Обрезка фона на текст */
    color: transparent; /* Делает основной цвет текста прозрачным */
}

.info {
    margin-left: -7%;
}

.info-img {
    position: absolute;
    top: 330%;
    /* right: calc(100% - 764px);*/
    padding: 200px 100px;
    margin-left: -5%;
    z-index: -1;
    width: 90%;
}
#info-img1 {
    margin-left: -15%;
    top: 430%;
    transform: scaleX(-1); /* Отражение по горизонтали */
}

.contact-details-text{
    margin-top:20px;
}
.contact-details-text p {
    text-transform: uppercase; /* Преобразует текст в заглавные буквы */
    font-size: 24px; /* Размер текста для контактных деталей */
    font-weight: bold; /* Чтобы текст был жирным */
    margin-top: 20px; /* Отступ сверху для разделения секций */
    margin-left: 28%;
}

.contact-details p, .address p {
    margin-top: 20px;
    font-size: 16px; /* Размер текста 16 пикселей для других элементов */
    margin-right: 30%; /* Отступ слева для параграфов */
    text-align: right; /* Выровнять текст по правому краю */
}

.address {
    margin-top: 20px; /* Отступ сверху для адреса */
}

.map {
    margin-left: 28%; /* Отступ слева для параграфов */
    margin-top: 20px; /* Отступ сверху для карты */
    margin-bottom:50px;
    border:2px;
    border-color:white;
}

.order {
    background-image: url("../images/flower3.png");
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 180px;
    overflow: hidden;
    margin-left: -5%;
}

    .order .container {
        position: relative;
    }

.order-img {
    position: absolute;
    top: 0;
    /* right: calc(100% - 764px);*/
    padding: 200px 100px;
    margin-left: -5%;
    /*z-index: -1;   -   это почему-то всё ломает :((( */
}

.order-form {
    border-radius: 16px;
    border: 1px solid #353535;
    background: #211A16;
    margin-top: 60px;
    width: 426px;
    padding: 60px 40px;
    box-sizing: border-box;
    margin-left: 774px;
}

.order-form-text {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.order-form-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.order-form-input, .flower-input, #budget {
    width: 344px;
    height: 62px;
    background: linear-gradient(95.61deg, #DC3251 0%, #750f8a 100%);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .order-form-input input {
        padding: 16px 10px;
        background: #211a16;
        border-radius: 8px;
        color: white;
        width: 342px;
        height: 60px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid transparent;
    }

.order-form-inputs button {
    width: 344px;
    height: 62px;
}

.order-form-input select {
    padding: 5px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 5px; /* Закругление углов */
    font-size: 14px; /* Размер шрифта */
    transition: border 0.3s; /* Плавный переход для изменения границы */
    margin-left: 15px;
    margin-bottom: 15px;
}

#preset-bouquets label,select{
    margin-left:15px;
    margin-top: 15px;
}
.flower-input{
    margin-top:15px;
}
.flower-input select {
    padding: 5px; /* Отступы внутри полей */
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 5px; /* Закругление углов */
    font-size: 14px; /* Размер шрифта */
    transition: border 0.3s; /* Плавный переход для изменения границы */
    margin-left: 15px;
    margin-bottom: 15px;
}
.flower-input input {
    margin-left:15px;
    margin-right:15px;
    padding: 16px 10px;
    background: #211a16;
    border-radius: 8px;
    color: white;
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
}
.flower-input button {
    border-radius: 8px;
    background: linear-gradient(96deg, #DC3251 0%, #750f8a 100%);
    width: 100px;
    height: 35px;
    padding: 10px;
    margin-right:10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 14px;
}

.flower-input button:hover {
    background: linear-gradient(96deg, #DC3251 0%, #DC3251 100%);
}

#add-flower-button {
    border-radius: 8px;
    background: linear-gradient(96deg, #DC3251 0%, #750f8a 100%);
    width: 130px;
    height: 35px;
    padding: 10px;
    margin-left: 215px;
    margin-bottom:15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 14px;
}
    #add-flower-button:hover {
        background: linear-gradient(96deg, #DC3251 0%, #DC3251 100%);
    }

#budget {
    display: flex; /* Горизонтальное расположение */
    align-items: center; /* Вертикальное центрирование */
    
}
    #budget label {
        margin-top: 15px;
        margin-left: 15px;
    }
    #budget input {
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 16px 10px;
        background: #211a16;
        border-radius: 8px;
        color: white;
        width: 120px;
        height: 30px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid transparent;
    }
#price {
    display: flex;
    margin-left: 85%;
    margin-top:-28px;
    font-size:20px;
}

.footer {
    padding: 60px 0;
}

    .footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.rigths {
    font-size: 16px;
    line-height: 20px;
    margin-right:8%;
}
