@{
    Layout = "_Layout";
}
<section class="main-content">

    <div class="container">
        <div class="main-info">
            <span class="main-small-info">Новые цветы</span>
            <h1 class="main-title">Свежие тюльпаны</h1>
            <p class="main-text">
                Нас встречают яркие и красивые тюльпаны!
                Спешите украсить свой день этими весенними цветами.
                Мы тщательно отбираем только самые лучшие и свежие тюльпаны для вас,
                чтобы каждая букета стал настоящим произведением искусства.
            </p>
            <div class="main-action">
                <button class="button" id="main-action-button">Cмотреть букеты</button>
            </div>
        </div>
        <img src="images/tulips.png" alt="картинка" class="main-img">
    </div>
</section>

<img src="images/flower2.png" alt="лепестки" class="why-img-flower2">

<section class="why" id="why">
    <div class="container">

        <div class="common-title">Почему нас выбирают?</div>
        <div class="why-items">
            <div class="why-item">
                <img src="images/bouquet.png" alt="букет" class="why-item-img">
                <div class="why-item-title">Авторские букеты</div>
                <div class="why-item-text">
                    Наши букеты — это уникальные композиции, созданные с любовью и вниманием к деталям.
                    Мы тщательно отбираем цветы, чтобы каждая композиция сияла яркими красками и радовала глаз.
                </div>
            </div>
            <div class="why-item">
                <img src="images/flower.png" alt="цветы" class="why-item-img">
                <div class="why-item-title">Свежие цветы</div>
                <div class="why-item-text">
                    Мы гарантируем высокое качество наших цветов, которые поступают прямо от фермеров.
                    Каждая партия свежих цветов проходит строгий отбор для обеспечения наилучшего качества.
                </div>
            </div>
            <div class="why-item">
                <img src="images/truck.png" alt="машина" class="why-item-img">
                <div class="why-item-title">Быстрая доставка</div>
                <div class="why-item-text">
                    Мы обеспечиваем доставку ваших заказов в пределах города за 30 минут.
                    Мы заботимся о том, чтобы ваши цветы прибыли свежими и в прекрасном состоянии.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products" id="products">
    <div class="container">
        <div class="common-title">Выберите свой букет</div>
        <div class="products-items">
            <div class="products-item">
                <div class="products-item-img">
                    <img src="images/букет 1.png" alt="букет 1">
                </div>
                <div class="products-item-title">"Солнечные Розы"</div>
                <div class="products-item-text">
                    Розы,
                    стебли зелени
                </div>
                <div class="products-item-extra">
                    <div class="products-item-info">
                        <! сохраняем базовую валюту -->
                        <div class="products-item-price" data-base-price="2.5">2.5 $</div>
                    </div>
                    <div class="products-item-action" href="/Order">
                        <button class="button product-button">
                            <span>Заказать</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                     fill="none">
                                    <path d="M17 18.5C17.5304 18.5 18.0391 18.7107 18.4142 19.0858C18.7893 19.4609 19 19.9696 19 20.5C19 21.0304 18.7893 21.5391 18.4142 21.9142C18.0391 22.2893 17.5304 22.5 17 22.5C16.4696 22.5 15.9609 22.2893 15.5858 21.9142C15.2107 21.5391 15 21.0304 15 20.5C15 19.39 15.89 18.5 17 18.5ZM1 2.5H4.27L5.21 4.5H20C20.2652 4.5 20.5196 4.60536 20.7071 4.79289C20.8946 4.98043 21 5.23478 21 5.5C21 5.67 20.95 5.84 20.88 6L17.3 12.47C16.96 13.08 16.3 13.5 15.55 13.5H8.1L7.2 15.13L7.17 15.25C7.17 15.3163 7.19634 15.3799 7.24322 15.4268C7.29011 15.4737 7.3537 15.5 7.42 15.5H19V17.5H7C6.46957 17.5 5.96086 17.2893 5.58579 16.9142C5.21071 16.5391 5 16.0304 5 15.5C5 15.15 5.09 14.82 5.24 14.54L6.6 12.09L3 4.5H1V2.5ZM7 18.5C7.53043 18.5 8.03914 18.7107 8.41421 19.0858C8.78929 19.4609 9 19.9696 9 20.5C9 21.0304 8.78929 21.5391 8.41421 21.9142C8.03914 22.2893 7.53043 22.5 7 22.5C6.46957 22.5 5.96086 22.2893 5.58579 21.9142C5.21071 21.5391 5 21.0304 5 20.5C5 19.39 5.89 18.5 7 18.5ZM16 11.5L18.78 6.5H6.14L8.5 11.5H16Z"
                                          fill="#B7A8D6" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="products-item">
                <div class="products-item-img">
                    <img src="images/букет 2.png" alt="букет 2">
                </div>
                <div class="products-item-title">"Нежные Лилии"</div>
                <div class="products-item-text">
                    Лилии
                </div>
                <div class="products-item-extra">
                    <div class="products-item-info">
                        <div class="products-item-price" data-base-price="3">3 $</div>
                    </div>
                    <div class="products-item-action" href="/Order">
                        <button class="button product-button">
                            <span>Заказать</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                     fill="none">
                                    <path d="M17 18.5C17.5304 18.5 18.0391 18.7107 18.4142 19.0858C18.7893 19.4609 19 19.9696 19 20.5C19 21.0304 18.7893 21.5391 18.4142 21.9142C18.0391 22.2893 17.5304 22.5 17 22.5C16.4696 22.5 15.9609 22.2893 15.5858 21.9142C15.2107 21.5391 15 21.0304 15 20.5C15 19.39 15.89 18.5 17 18.5ZM1 2.5H4.27L5.21 4.5H20C20.2652 4.5 20.5196 4.60536 20.7071 4.79289C20.8946 4.98043 21 5.23478 21 5.5C21 5.67 20.95 5.84 20.88 6L17.3 12.47C16.96 13.08 16.3 13.5 15.55 13.5H8.1L7.2 15.13L7.17 15.25C7.17 15.3163 7.19634 15.3799 7.24322 15.4268C7.29011 15.4737 7.3537 15.5 7.42 15.5H19V17.5H7C6.46957 17.5 5.96086 17.2893 5.58579 16.9142C5.21071 16.5391 5 16.0304 5 15.5C5 15.15 5.09 14.82 5.24 14.54L6.6 12.09L3 4.5H1V2.5ZM7 18.5C7.53043 18.5 8.03914 18.7107 8.41421 19.0858C8.78929 19.4609 9 19.9696 9 20.5C9 21.0304 8.78929 21.5391 8.41421 21.9142C8.03914 22.2893 7.53043 22.5 7 22.5C6.46957 22.5 5.96086 22.2893 5.58579 21.9142C5.21071 21.5391 5 21.0304 5 20.5C5 19.39 5.89 18.5 7 18.5ZM16 11.5L18.78 6.5H6.14L8.5 11.5H16Z"
                                          fill="#B7A8D6" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="products-item">
                <div class="products-item-img">
                    <img src="images/букет 3.png" alt="букет 3">
                </div>
                <div class="products-item-title">"Весеннее Настроение"</div>
                <div class="products-item-text">
                    Орхидеи
                </div>
                <div class="products-item-extra">
                    <div class="products-item-info">
                        <div class="products-item-price" data-base-price="4">4 $</div>
                    </div>
                    <div class="products-item-action" href="/Order">
                        <button class="button product-button">
                            <span>Заказать</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                     fill="none">
                                    <path d="M17 18.5C17.5304 18.5 18.0391 18.7107 18.4142 19.0858C18.7893 19.4609 19 19.9696 19 20.5C19 21.0304 18.7893 21.5391 18.4142 21.9142C18.0391 22.2893 17.5304 22.5 17 22.5C16.4696 22.5 15.9609 22.2893 15.5858 21.9142C15.2107 21.5391 15 21.0304 15 20.5C15 19.39 15.89 18.5 17 18.5ZM1 2.5H4.27L5.21 4.5H20C20.2652 4.5 20.5196 4.60536 20.7071 4.79289C20.8946 4.98043 21 5.23478 21 5.5C21 5.67 20.95 5.84 20.88 6L17.3 12.47C16.96 13.08 16.3 13.5 15.55 13.5H8.1L7.2 15.13L7.17 15.25C7.17 15.3163 7.19634 15.3799 7.24322 15.4268C7.29011 15.4737 7.3537 15.5 7.42 15.5H19V17.5H7C6.46957 17.5 5.96086 17.2893 5.58579 16.9142C5.21071 16.5391 5 16.0304 5 15.5C5 15.15 5.09 14.82 5.24 14.54L6.6 12.09L3 4.5H1V2.5ZM7 18.5C7.53043 18.5 8.03914 18.7107 8.41421 19.0858C8.78929 19.4609 9 19.9696 9 20.5C9 21.0304 8.78929 21.5391 8.41421 21.9142C8.03914 22.2893 7.53043 22.5 7 22.5C6.46957 22.5 5.96086 22.2893 5.58579 21.9142C5.21071 21.5391 5 21.0304 5 20.5C5 19.39 5.89 18.5 7 18.5ZM16 11.5L18.78 6.5H6.14L8.5 11.5H16Z"
                                          fill="#B7A8D6" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="products-item">
                <div class="products-item-img">
                    <img src="images/букет 4.png" alt="букет 4">
                </div>
                <div class="products-item-title">"Ароматные Луга"</div>
                <div class="products-item-text">
                    Гипсофилы
                </div>
                <div class="products-item-extra">
                    <div class="products-item-info">
                        <div class="products-item-price" data-base-price="3">3 $</div>
                    </div>
                    <div class="products-item-action" href="/Order">
                        <button class="button product-button">
                            <span>Заказать</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                     fill="none">
                                    <path d="M17 18.5C17.5304 18.5 18.0391 18.7107 18.4142 19.0858C18.7893 19.4609 19 19.9696 19 20.5C19 21.0304 18.7893 21.5391 18.4142 21.9142C18.0391 22.2893 17.5304 22.5 17 22.5C16.4696 22.5 15.9609 22.2893 15.5858 21.9142C15.2107 21.5391 15 21.0304 15 20.5C15 19.39 15.89 18.5 17 18.5ZM1 2.5H4.27L5.21 4.5H20C20.2652 4.5 20.5196 4.60536 20.7071 4.79289C20.8946 4.98043 21 5.23478 21 5.5C21 5.67 20.95 5.84 20.88 6L17.3 12.47C16.96 13.08 16.3 13.5 15.55 13.5H8.1L7.2 15.13L7.17 15.25C7.17 15.3163 7.19634 15.3799 7.24322 15.4268C7.29011 15.4737 7.3537 15.5 7.42 15.5H19V17.5H7C6.46957 17.5 5.96086 17.2893 5.58579 16.9142C5.21071 16.5391 5 16.0304 5 15.5C5 15.15 5.09 14.82 5.24 14.54L6.6 12.09L3 4.5H1V2.5ZM7 18.5C7.53043 18.5 8.03914 18.7107 8.41421 19.0858C8.78929 19.4609 9 19.9696 9 20.5C9 21.0304 8.78929 21.5391 8.41421 21.9142C8.03914 22.2893 7.53043 22.5 7 22.5C6.46957 22.5 5.96086 22.2893 5.58579 21.9142C5.21071 21.5391 5 21.0304 5 20.5C5 19.39 5.89 18.5 7 18.5ZM16 11.5L18.78 6.5H6.14L8.5 11.5H16Z"
                                          fill="#B7A8D6" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="products-item">
                <div class="products-item-img">
                    <img src="images/букет 5.png" alt="букет 5">
                </div>
                <div class="products-item-title">"Цветущий Праздник"</div>
                <div class="products-item-text">
                    Разноцветные цветы
                </div>
                <div class="products-item-extra">
                    <div class="products-item-info">
                        <div class="products-item-price" data-base-price="1.5">1.5 $</div>
                    </div>
                    <div class="products-item-action" href="/Order">
                        <button class="button product-button">
                            <span>Заказать</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                     fill="none">
                                    <path d="M17 18.5C17.5304 18.5 18.0391 18.7107 18.4142 19.0858C18.7893 19.4609 19 19.9696 19 20.5C19 21.0304 18.7893 21.5391 18.4142 21.9142C18.0391 22.2893 17.5304 22.5 17 22.5C16.4696 22.5 15.9609 22.2893 15.5858 21.9142C15.2107 21.5391 15 21.0304 15 20.5C15 19.39 15.89 18.5 17 18.5ZM1 2.5H4.27L5.21 4.5H20C20.2652 4.5 20.5196 4.60536 20.7071 4.79289C20.8946 4.98043 21 5.23478 21 5.5C21 5.67 20.95 5.84 20.88 6L17.3 12.47C16.96 13.08 16.3 13.5 15.55 13.5H8.1L7.2 15.13L7.17 15.25C7.17 15.3163 7.19634 15.3799 7.24322 15.4268C7.29011 15.4737 7.3537 15.5 7.42 15.5H19V17.5H7C6.46957 17.5 5.96086 17.2893 5.58579 16.9142C5.21071 16.5391 5 16.0304 5 15.5C5 15.15 5.09 14.82 5.24 14.54L6.6 12.09L3 4.5H1V2.5ZM7 18.5C7.53043 18.5 8.03914 18.7107 8.41421 19.0858C8.78929 19.4609 9 19.9696 9 20.5C9 21.0304 8.78929 21.5391 8.41421 21.9142C8.03914 22.2893 7.53043 22.5 7 22.5C6.46957 22.5 5.96086 22.2893 5.58579 21.9142C5.21071 21.5391 5 21.0304 5 20.5C5 19.39 5.89 18.5 7 18.5ZM16 11.5L18.78 6.5H6.14L8.5 11.5H16Z"
                                          fill="#B7A8D6" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="products-item">
                <div class="products-item-img">
                    <img src="images/букет 6.png" alt="букет 6">
                </div>
                <div class="products-item-title">"Травяной Поцелуй"</div>
                <div class="products-item-text">
                    Пионы
                </div>
                <div class="products-item-extra">
                    <div class="products-item-info">
                        <div class="products-item-price" data-base-price="4.7">4.7 $</div>
                    </div>
                    <div class="products-item-action" href="/Order">
                        <button class="button product-button">
                            <span>Заказать</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                     fill="none">
                                    <path d="M17 18.5C17.5304 18.5 18.0391 18.7107 18.4142 19.0858C18.7893 19.4609 19 19.9696 19 20.5C19 21.0304 18.7893 21.5391 18.4142 21.9142C18.0391 22.2893 17.5304 22.5 17 22.5C16.4696 22.5 15.9609 22.2893 15.5858 21.9142C15.2107 21.5391 15 21.0304 15 20.5C15 19.39 15.89 18.5 17 18.5ZM1 2.5H4.27L5.21 4.5H20C20.2652 4.5 20.5196 4.60536 20.7071 4.79289C20.8946 4.98043 21 5.23478 21 5.5C21 5.67 20.95 5.84 20.88 6L17.3 12.47C16.96 13.08 16.3 13.5 15.55 13.5H8.1L7.2 15.13L7.17 15.25C7.17 15.3163 7.19634 15.3799 7.24322 15.4268C7.29011 15.4737 7.3537 15.5 7.42 15.5H19V17.5H7C6.46957 17.5 5.96086 17.2893 5.58579 16.9142C5.21071 16.5391 5 16.0304 5 15.5C5 15.15 5.09 14.82 5.24 14.54L6.6 12.09L3 4.5H1V2.5ZM7 18.5C7.53043 18.5 8.03914 18.7107 8.41421 19.0858C8.78929 19.4609 9 19.9696 9 20.5C9 21.0304 8.78929 21.5391 8.41421 21.9142C8.03914 22.2893 7.53043 22.5 7 22.5C6.46957 22.5 5.96086 22.2893 5.58579 21.9142C5.21071 21.5391 5 21.0304 5 20.5C5 19.39 5.89 18.5 7 18.5ZM16 11.5L18.78 6.5H6.14L8.5 11.5H16Z"
                                          fill="#B7A8D6" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="new" id="new">
    <div class="container">
        <div class="order-title common-title">Новости</div>
        <div class="news-container">
            <img id="news-image" alt="News Image" />
            <div id="news-item"></div>
        </div>
        <div class="navigation">
            <span class="arrow" id="navigation-prev">&lt;</span> <!-- Стрелка влево -->
            <span class="arrow" id="navigation-next">&gt;</span> <!-- Стрелка вправо -->
        </div>
    </div>
</section>

<section class="info" id="info">
    <div class="container">
        <div class="order-title common-title">О нас</div>
        <img src="images/flower3.png" alt="цветочки" class="info-img" id="info-img1">
        <img src="images/flower3.png" alt="цветочки" class="info-img">
        <div class="contact-details-text">
            <p><strong>Контакты:</strong></p>
        </div>
        <div class="contact-details">
            <p><strong>Телефон:</strong> +31 6 12345678</p>
            <p><strong>Email:</strong> info@example.com</p>
            <p><strong>Время работы:</strong> Пн-Пт: 9:00 - 18:00, Сб: 10:00 - 14:00</p>
        </div>
        <div class="contact-details-text">
            <p><strong>Адрес:</strong></p>
        </div>
        <div class="address">
            <p>1234 AB Amsterdam, Nederland</p>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24365.988975843005!2d4.883!3d52.372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c679e500a81d09%3A0x3a6a5d84074c58f1!2sAmsterdam%20Central%20Station!5e0!3m2!1sru!2sru!4v1634012359676!5m2!1sru!2sru"
                    width="600"
                    height="470"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"></iframe>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/home.js"></script>

